td{
    height: 60px;
width: 120px;
}
.category1
{
background-color:rgb(117, 138, 191) ;
}
.category2
{
background-color:rgb(201, 87, 58) ;
}
.category3
{
background-color:rgb(109, 138, 101) ;
}

{

}
.category5
{
background-color:rgb(148, 152, 181) ;
}
.category6
{
background-color:rgb(196, 73, 73) ;
}
.heading
{
    font-size: larger;
}